.main_title.unsaved_changes .title {
    font-style: italic;
    transition: font-style 0.2s;
}

.canvas_scroller {
    background-color: rgba(120, 120, 130, 0.2);
}

.modifiernode {
    color: rgba(0, 60, 240, 255);
    transition: color 0.15s;
}

.modifiernode:hover {
    color: rgba(0, 200, 20, 255);
}

.flap_resizer {
    transition: all 0.2s ease-out;
}

.flap_resizer:hover {
    background-color: steelblue;
    box-shadow: 0 0 8px darker(steelblue);
}

.default_theme_toggle {
    border-style: solid;
    border-width: 2px;
    border-color: #2e2e2e;
    transition: all 0.2s ease-out;
    background-blend-mode: normal;
    filter: brightness(100%);
    background-image:
        linear-gradient(135deg, black 50%, white 50%, white 100%, black 100%, black),
        linear-gradient(135deg, black 50%, white 50%, white 100%, black 100%, black);
    background-size: 100% 100%; background-position: 0% 0%, 50% 50%;
}

.default_theme_toggle:hover {
    filter: brightness(80%);
}

.default_theme_toggle:checked {
    border-color: steelblue;
}

.light_theme_toggle {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: @borders;
    filter: brightness(100%);
    transition: all 0.2s ease-out;
}

.light_theme_toggle:hover {
    filter: brightness(80%);
}

.light_theme_toggle:checked {
    border-color: steelblue;
}

.dark_theme_toggle {
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-color: @borders;
    filter: brightness(100%);
    transition: all 0.2s ease-out;
}

.dark_theme_toggle:hover {
    filter: brightness(120%);
}

.dark_theme_toggle:checked {
    border-color: steelblue;
}

.narrow_pens_toggles_box {
    background: linear-gradient(to right, #00000008 0%, #00000000 10%, #00000000 90%, #00000008 100%);
}