.canvas_scroller {
    background-color: rgba(120, 120, 130, 0.2);
}

.modifiernode {
    color: rgba(0, 0, 0, 255);
    transition: color 0.15s;
}

.modifiernode:hover {
    color: rgba(0, 200, 20, 255);
}

.devel_actions {
    background-color: @theme_bg_color;
}

.files_grid {
    background-color: @theme_bg_color;
}

.light_theme_toggle {
    background: white;
    box-shadow: 0 0 15px darkgray;
    transition: all 0.2s ease-out;
}

.light_theme_toggle:hover {
    background: #d2d2d2;
}

.light_theme_toggle:checked {
    background: white;
    box-shadow: 0 0 15px steelblue;
}

.dark_theme_toggle {
    background: black;
    box-shadow: 0 0 15px darkgray;
    transition: all 0.2s ease-out;
}

.dark_theme_toggle:hover {
    background: #2e2e2e;
}

.dark_theme_toggle:checked {
    background: black;
    box-shadow: 0 0 15px sienna;
}

.workspace_listitem {
    transition: all 0.15s ease-out;
}

.workspace_listitem:hover {
    text-shadow: 0 0 30px steelblue;
}

.shaperconfig_stack {
    border: 1px solid darker(@theme_bg_color);
    border-radius: 6px;
}

.setter-button {
    padding: 0 0 0 0;
    background-blend-mode: screen;
    background-image:
        linear-gradient(45deg, #11111188 25%, transparent 25%, transparent 75%, #11111188 75%, #11111188),
        linear-gradient(45deg, #11111188 25%, transparent 25%, transparent 75%, #11111188 75%, #11111188);
    background-size: 20px 20px; background-position: 0px 0px, 10px 10px;
}