/tmp
/build
/builddir
/target
/vendor
/flatpak-repo
/flatpak-app
/_build*
/_mesonbuild*
/_mesoninstall*
/.flatpak
/.flatpak-builder
/.editorconfig
/.vscode
*.mo
*.code-workspace
.idea/
.toggletasks.json
*.flatpak