.sidebar_action_image {
    margin-left: -4px;
    margin-right: -4px;
}

.settings_row_image {
    margin-left: -4px;
    margin-right: -4px;
}

.main_title.unsaved_changes .title {
    font-style: italic;
    transition: font-style 0.2s;
}

.canvas_scroller {
    background-color: rgba(120, 120, 130, 0.2);
}

.modifiernode {
    color: rgba(0, 60, 240, 255);
    transition: color 0.15s;
}

.modifiernode:hover {
    color: rgba(0, 200, 20, 255);
}

.flap_resizer {
    transition: all 0.2s ease-out;
}

.flap_resizer:hover {
    background-color: @accent_color;
    box-shadow: 0 0 6px darker(@accent_color);
}

.flat-destructive-action {
    color: @destructive_color;
}

.topbar_box {
    background: linear-gradient(to right, #0000000a 0%, #00000000 6%, #00000000 94%, #0000000a 100%);
}

.colorpad {
    padding: 0px;
    margin: 1px;
    background-blend-mode: screen;
    background-image:
        linear-gradient(45deg, #0a0a0a88 25%, transparent 25%, transparent 75%, #0a0a0a88 75%, #0a0a0a88),
        linear-gradient(45deg, #0a0a0a88 25%, transparent 25%, transparent 75%, #0a0a0a88 75%, #0a0a0a88);
    background-color: @colorpad_color;
    color: @colorpad_fg_color;
    background-size: 18px 18px;
    background-position: 0px 0px, 9px 9px;
    border: 1px solid @borders;
    border-radius: 12px;
    transition: all 0.15s ease-out;
}

.colorpad > image {
    -gtk-icon-size: 14px;
}

.colorpad:hover {
    filter: brightness(93%);
}

.colorpad:active {
    filter: brightness(86%);
}

.colorpad:checked {
    filter: brightness(100%);
    border-color: alpha(@accent_color, 1.0);
    box-shadow: 0px 0px 6px @accent_bg_color;
}

.colorsetter {
    padding: 0px;
    background-blend-mode: screen;
    background-image:
        linear-gradient(45deg, #0a0a0a88 25%, transparent 25%, transparent 75%, #0a0a0a88 75%, #0a0a0a88),
        linear-gradient(45deg, #0a0a0a88 25%, transparent 25%, transparent 75%, #0a0a0a88 75%, #0a0a0a88);
    background-color: @colorsetter_color;
    color: @colorsetter_fg_color;
    background-size: 18px 18px;
    background-position: 0px 0px, 9px 9px;
    border: 1px solid @borders;
    filter: brightness(100%);
    border-radius: 2px;
    transition: all 0.15s ease-out;
}

.colorsetter:hover {
    filter: brightness(93%);
}

.colorsetter:active {
    filter: brightness(86%);
}

.colorsetter:checked {
    filter: brightness(100%);
    box-shadow: inset 0px -3px 0px 0px @colorsetter_fg_color;
}

.quickaction-button {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.workspace-listbox {
    transition: color 0.15s;
}

.files-listview row {
    border-radius: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 6px;
}

/*
.workspaces-listbox row:selected {
}
*/

/*
from https://gitlab.com/posidon_software/paper/-/blob/main/src/css/style.css
*/
.workspacerow {
    transition: opacity .1s;
    opacity: 0.75;
    background-image:
        linear-gradient(mix(@workspacerow_color, #fff, 0.15) 0%,
            mix(@workspacerow_color, #fff, 0.1) 50%,
            alpha(mix(@workspacerow_color, #fff, 0.05), 0.6) 75%,
            alpha(@workspacerow_color, 0) 100%),
        linear-gradient(mix(@workspacerow_color, #fff, 0.2), @workspacerow_color);

    border-radius: 0 3px 3px 0;

    min-width: 32px;
    min-height: 32px;

    color: @workspacerow_fg_color;

    box-shadow:
        inset 0 .5px 0px 0px rgba(255, 255, 255, 0.2),

        inset 3px 0 0 0 shade(@workspacerow_color, 0.8),

        inset 0 -2px 0px 0px #f0f3f8,
        inset 0 -1px 0px 0px @workspacerow_color,

        inset 1px 0 0 0 shade(@workspacerow_color, 0.8),
        inset 0 -3px 0px 0px rgba(0, 0, 0, 0.2);
}

.workspacerow.preview {
    transform: scale(2.0);
    margin-top: 24px;
    margin-bottom: 24px;
}

.iconpicker_gridview {
    border-radius: 6px;
}

.iconpicker_gridview child {
    margin: 2px;
}

.overlay-toolbar {
    border-radius: 12px;
    background-color: @window_bg_color;
    border: 1px solid @borders;
    box-shadow: 0px 3px 6px @shade_color;
}

.overlay-toolbar.colorpicker {
    padding: 9px;
}

toast {
    margin-bottom: 64px;
}