.sidebar_action_image {
    margin-left: -4px;
    margin-right: -4px;
}

.settings_row_image {
    margin-left: -4px;
    margin-right: -4px;
}

.main_title.unsaved_changes .title {
    font-style: italic;
    transition: font-style 0.2s;
}

.canvas_scroller {
    background-color: rgba(120, 120, 130, 0.2);
}

.modifiernode {
    color: rgba(0, 60, 240, 255);
    transition: color 0.15s;
}

.modifiernode:hover {
    color: rgba(0, 200, 20, 255);
}

.flap_resizer {
    transition: all 0.2s ease-out;
}

.flap_resizer:hover {
    background-color: @theme_selected_bg_color;
    box-shadow: 0 0 6px darker(@theme_selected_bg_color);
}

.flat-destructive-action {
    color: @destructive_color;
}

.narrow_pens_toggles_box {
    background: linear-gradient(to right, #0000000a 0%, #00000000 6%, #00000000 94%, #0000000a 100%);
}

.setter_button {
    padding: 0 0 0 0;
    margin-bottom: 1px;
    background-blend-mode: screen;
    background-image:
        linear-gradient(45deg, #11111188 25%, transparent 25%, transparent 75%, #11111188 75%, #11111188),
        linear-gradient(45deg, #11111188 25%, transparent 25%, transparent 75%, #11111188 75%, #11111188);
    background-size: 20px 20px;
    background-position: 0px 0px, 8px 8px;
    border-style: solid;
    border-width: 1px;
    filter: brightness(100%);
}

.setter_button:hover {
    filter: brightness(90%);
}

.setter_button:active {
    filter: brightness(110%);
}

.quickaction-button {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.workspace-listbox {
    transition: color 0.15s;
}

.files-listview row {
    border-radius: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 6px;
    margin-right: 6px;
}

/*
.workspaces-listbox row:selected {
}
*/

/*
from https://gitlab.com/posidon_software/paper/-/blob/main/src/css/style.css
*/
.workspacerow {
    transition: opacity .1s;
    opacity: 0.75;
    background-image:
        linear-gradient(mix(@workspacerow_color, #fff, 0.15) 0%,
            mix(@workspacerow_color, #fff, 0.1) 50%,
            alpha(mix(@workspacerow_color, #fff, 0.05), 0.6) 75%,
            alpha(@workspacerow_color, 0) 100%),
        linear-gradient(mix(@workspacerow_color, #fff, 0.2), @workspacerow_color);

    border-radius: 0 3px 3px 0;

    min-width: 32px;
    min-height: 32px;

    color: @workspacerow_fg_color;

    box-shadow:
        inset 0 .5px 0px 0px rgba(255, 255, 255, 0.2),

        inset 3px 0 0 0 shade(@workspacerow_color, 0.8),

        inset 0 -2px 0px 0px #f0f3f8,
        inset 0 -1px 0px 0px @workspacerow_color,

        inset 1px 0 0 0 shade(@workspacerow_color, 0.8),
        inset 0 -3px 0px 0px rgba(0, 0, 0, 0.2);
}

.workspacerow.preview {
    transform: scale(2.0);
    margin-top: 24px;
    margin-bottom: 24px;
}

.iconpicker_gridview {
    border-radius: 6px;
}

.iconpicker_gridview child {
    margin: 3px;
}