---

name: 'Test Report'

"on":
  workflow_run:
    workflows: ['CI']
    types:
      - completed

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  report:
    runs-on: ubuntu-24.04
    steps:

      - name: Report Test Results
        uses: dorny/test-reporter@v1
        with:
          artifact: test-results
          name: Tests
          path: 'test-report-junit.xml'
          reporter: java-junit
